<li class="medium-4 columns frontpage-widget">
  {% capture widget_url %}
    {% if include.widget.url contains 'http' %}
      {{ include.widget.url }}
    {% else %}
      {{ site.url }}{{ site.baseurl }}{{ include.widget.url }}
    {% endif %}
  {% endcapture %}
  <h2 class="font-size-h3 t10">{{ include.widget.title }}</h2>
  <p>{{ include.widget.text }}</p>
  <p>
    <a
      class="button tiny radius"
      href="{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url }}{% endif %}"
    >{{ include.widget.cta }}
    </a>
  </p>
</li>
