/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color:       	#111;
$body-font-color: 	$text-color;
$body-bg: 			#fdfdfd;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: #334D5C;		// dark turquoise
$ci-2: #45B29D;		// turquoise
$ci-3: #EFC94C;		// yellow
$ci-4: #E27A3F;		// orange
$ci-5: #DF4949;		// red
$ci-6: #A1D044;   // green

$dark-orange: #E27A3F;
$light-orange: #EFC94C;
$red: #DF4949;


/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-1;
$secondary-color: $ci-6;
$alert-color: $ci-5;
$success-color: $ci-6;
$warning-color: $ci-4;
$info-color: $ci-1;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;



/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color: $body-bg;
$topbar-bg: $topbar-bg-color;


$topbar-dropdown-toggle-color: $red;

$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;

$topbar-dropdown-label-color: $light-orange;
$topbar-dropdown-link-bg-hover: $dark-orange;

$topbar-link-bg-active: $dark-orange; // Active Navigation Link
$topbar-link-bg-hover: $dark-orange;
$topbar-link-bg-active-hover: $light-orange;


$topbar-dropdown-bg: $dark-orange; // Background Mobile Navigation
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: $light-orange;

$topbar-menu-link-color-toggled: $red;
$topbar-menu-icon-color-toggled: $red;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $dark-orange;
$topbar-menu-icon-color-toggled: $dark-orange;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $grey-8;
$footer-color: #fff;
$footer-link-color: $ci-6;


$subfooter-bg: $grey-13;
$subfooter-color: $grey-8;
$subfooter-link-color: $grey-8;



/* Code
------------------------------------------------------------------- */

// Colors via https://github.com/johnotander/pixyll
$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$orange: #ffcc22 !default;
$purple: #f92080 !default;
$dark-blue: #00369f !default;
$green: #00ab37 !default;
$dark-green: #009f06 !default;
$light-pink: #ffdddd !default;
$light-green: #ddffdd !default;
$dark-gray: #333 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;

$pre-border-radius: 0;
$pre-background-color: #fafafa;
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;

$code-background-color: #fafafa;

// $highlight-background: #ffffff;
// $highlight-comment: #999988;
// $highlight-error: #a61717;
// $highlight-comment-special: #999999;
// $highlight-deleted: #000000;
// $highlight-error-2: #aa0000;
// $highlight-literal-string: #d14;
// $highlight-literal-number: #009999;
// $highlight-name-attribut: #008080;
// $highlight-error-background: #e3d2d2;
// $highlight-generic-deleted: #ffdddd;
// $highlight-generic-deleted-specific: #ffaaaa;
// $highlight-generic-inserted: #ddffdd;
// $highlight-generic-inserted-specific: #aaffaa;
// $highlight-generic-output: #888888;
// $highlight-generic-prompt: #555555;
// $highlight-subheading: #aaaaaa;
// $highlight-keyword-type: #445588;
// $highlight-name-builtin: #0086B3;
// $highlight-name-class: #445588;
// $highlight-name-entity: #800080;
// $highlight-name-exception: #990000;
// $highlight-name-function: #990000;
// $highlight-name-namespace: #555555;
// $highlight-name-tag: #000080;
// $highlight-text-whitespace: #bbbbbb;
// $highlight-literal-string-regex: #009926;
// $highlight-literal-string-symbol: #990073;
