// clhenrick theme customizations

// make all box sizing border-box
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// filter buttons
#filters {
  > button {
    text-transform: uppercase;
  }
}

// isotope columns
.grid {  
  width: 100%;
  // height: 100%;
  border: 1px solid #999;
  background-color: #fff;

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.grid-item { 
  float: left;
  width: 25%; 
  min-height: 200px;
  display: inline-block;
  margin: 0;
  padding: 5px;
  background-color: lighten(#999, 20);
  border: 1px solid #fff;

  &.width2 { 
    width: 50%; 
    background-color: lighten(red, 30);
  }

  &.width3 {
    width: 75%;
    background-color: lighten(blue, 30);
  }

  &.height1 {
    min-height: 300px;
  }

  &.height2 {
    min-height: 400px;
  }
}