// clhenrick theme customizations

// make all box sizing border-box
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// buttons
$button-color: $ci-2;
$button-color-active: darken($button-color, 15%);

button, .button {
  background: $button-color;
  // color: $grey-10;

  &:hover,
  &:focus,
  &.active {
    background: $button-color-active;
  }
}

// portfolio filter buttons
#filters {
  > button {
    text-transform: uppercase;

    &.active {
      background-color: $button-color-active;
    }
  }

  @media only screen and (max-width: 40em)  {
    display: none;
  }
}

// side nav
.side-nav li {
  a:not(.button) {
    color: $ci-4;

    &:hover {
      color: lighten($ci-7, 10%);
      background-color: $body-bg !important;
    }
  }
}

// prevent tables in blog posts from flowing outside of the page area
table {
  overflow: auto;
  display: block;
}

// portfolio back arrow
.back-arrow {
  font-size: $font-size-h1;
}

// isotope grid area
.grid {
  width: 100%;;
  // padding-left: 5px;
  // padding-top: 5px;
  background-color: transparent;
  // border: 1px solid $grey-1;

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// isotope grid items
.grid-item,
.grid-sizer {
  // width: calc(20% - 5px);
  width: 32.66666666666%;
}

.gutter-sizer {
  width: 1%;

  @media only screen and (max-width: 40em)  {
    width: 2%;
  }
}

.grid-item {
  float: left;
  min-height: 200px;
  display: inline-block;
  margin: 0;
  padding: 5px 5px 8px 5px;
  background-color: $grey-10; //lighten($grey-1, 5);
  border: 2px solid $grey-9;
  transition: border-color 100ms, border-width 100ms linear;

  p { color: #DDD; }

  &:hover{
    border-width: 4px;
    border-color: $ci-3;
  }

  &.width2 {
    // width: calc(40% - 5px);
    width: 32.66666666666%;
  }

  &.width3 {
    // width: calc(60% - 5px);
    width: 32.66666666666%;
  }

  &.height1 {
    min-height: 300px;
  }

  &.height2 {
    min-height: 400px;
  }
}

.grid-item, .grid-item.width2, .grid-item.width3 {
  @media only screen and (max-width: 40em)  {
    width: 100%;
  }
}

// child container for each item's title & short description
.item-meta {
  padding: 5px;
}

img.portfolio, iframe.tiles {
  // border: 2px solid $grey-8;
  margin-bottom: 25px;
}

// when to display map tiles in portfolio detail pages
iframe.tiles {
  @media only screen and (min-width: 40.063em ) {
    height: 850px;
  }

  @media only screen and (max-width: 40em) {
    height: 400px;
  }
}
