// clhenrick theme customizations

// make all box sizing border-box
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// portfolio back arrow
.back-arrow {
  font-size: $font-size-h1;
}

// portfolio filter buttons
#filters {
  > button {
    text-transform: uppercase;

    &.active {
      background-color: $ci-2;
    }
  }
}

// isotope grid area
.grid {  
  width: 100%;
  // height: 100%;
  background-color: $grey-9;
  border: 1px solid $grey-9;

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// isotope grid items
.grid-item,
.grid-sizer {
  width: 20%;
}

.grid-item { 
  float: left; 
  min-height: 200px;
  display: inline-block;
  margin: 0;
  padding: 5px;
  background-color: lighten($grey-1, 5);
  border: 2px solid $grey-9;

  &.width2 { 
    width: 40%; 
  }

  &.width3 {
    width: 60%;
  }

  &.height1 {
    min-height: 300px;
  }

  &.height2 {
    min-height: 400px;
  }
}

// child container for each item's title & short description
.item-meta {
  padding: 5px;
}

img.portfolio {
  border: 2px solid $grey-8;
}